<div class="tf-page">
  <div class="tf-card">

    <div class="tf-card-header">
      <p class="tf-chara-say">ちゃんと見直すの、大事だよ！💙</p>
      <h1 class="tf-title">タスクを編集する</h1>
      <p class="tf-task-name-preview">"<%= @task.title %>"</p>
    </div>

    <%= render "form", task: @task %>

    <div class="tf-footer-link">
      <%= link_to "← ホームにもどる", tasks_path, class: "tf-back-link" %>
    </div>

  </div>
</div>
