<div class="tf-page">
  <div class="tf-card">

    <div class="tf-card-header">
      <p class="tf-chara-say">新しいことに挑戦するの、すごくえらい！✨</p>
      <h1 class="tf-title">タスクを追加する</h1>
    </div>

    <%= render "form", task: @task %>

    <div class="tf-footer-link">
      <%= link_to "← ホームにもどる", tasks_path, class: "tf-back-link" %>
    </div>

  </div>
</div>
